
.contact-section {
    background: #fff;
    padding: 40px 0;
  }

  .contact-info h4,
  .contact-form h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .contact-info p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-info i {
    color: #917FB3;
    margin-right: 8px;
  }
  
  .contact-map iframe {
    border-radius: 10px;
    width: 100%;
    height: 300px;
  }
  
  .contact-form
  {
    padding-top: 40px;
  }
  .contact-form .form-control {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .contact-form .btn-primary {
    background-color: #917FB3;
    border: none;
    width: 100%;
  }
  
  .contact-form .btn-primary :hover {
    background-color: #917FB3;
  }

  .contact-info-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-map iframe 
  {
    border-radius: 10px;
    width: 100%;
    height: 500px; /* Increase height */
  }

  .banner {
    background: url('https://media-hosting.imagekit.io//c02487cc88594ce8/banner-4.png?Expires=1835360117&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=OPE1iJZCA07QbNJ6kk0o492~uzPAKzy0HsZLOGYjWCASR6bx8qnT6S8Cty6~4~nFyKdaxXYL2Vh26u86aOb~2fp2-4jJPD0aXoo5pqpVzZLysLpk9U6eTpxY13kA3bTI-w2o3yH6OtIRNJh~zjhOej5vSEjrG~mdNrKOW-knzzex7rxGcCN4eE3WimrQ6CctahGoVJiwfpJMmjE6hMUDiTa9syBLqGHbDAfOYckIj0dXP62CxTVpAI5Xor1xUivGe0HYnJJwUNxPns7arB5xsWb66FicrFTYUgI9jPCqnDQ1gogUqFdUcVpcxpIyYtE9igPGkrohOVAohgcuE0EbPg__') no-repeat center center/cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
  }
  
  .banner-overlay {
    text-align: center;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .banner h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
  }
  
  .banner p {
    font-size: 16px;
    margin: 5px 0 0;
  }
  
  .banner p a {
    color: white;
    text-decoration: none;
    font-size: 20px; 
    font-weight: 400;
    /* font-weight: bold; */
  }
  
  .banner p a:hover {
    text-decoration: underline;
  }
  .intro-section {
    background-color: #917FB3;
    text-align: center;
    overflow: hidden;
  }
  
  .intro-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
  }
  
  .intro-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #fff;
    width: 270px;
    gap: 10px;
  }
  
  .intro-item img {
    width: 40px;
    height: 40px;
  }
  
  .intro-item p {
    font-size: 14px;
    margin: 0;
    text-align: left;
  }